// environment colors
$color-grid-10: #c5c5c550;
$color-grid-50: #75757560;
$color-grid-100: #8f575770;
$color-resize-handles: #1f3a50df;
$color-tooltip-BG: #e0eff0df;
$color-border-dk: #16162e;

// general colors
$color-dk-blue: #002244;
$color-blue: #00abee;
$color-lt-blue: #6688aa;
$color-red: #ab1209;
$color-yellow: #bbbb00;
$color-green: #009901;
