@import "variables";

.canvas-container {
  flex: 1;
  width: calc(95%);
  overflow: auto; // scroll inside canvas if content overflows
  margin-right: auto;
  margin-left: auto;
  border: 1px solid black;
  position: relative; // necessary to position generated shapes
}
