@import "variables";

@keyframes btnPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

//* CONTROL-PANEL
.controlPanelContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 8vh;
  width: 95%;
  justify-content: space-around;
  align-items: flex-end;
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 20px 0 20px;

  .siteLogoContainer {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }

  .siteLogo {
    font-size: 24px;
    text-shadow: $ltThemesiteLogoShadow;
    font-family: $fontDisplay;
    color: $ltThemeSiteLogoTxt;
  }

  input {
    background-color: $ltThemeInputBG;
    color: $ltThemeInputTxt;
    border: 1px solid $ltThemeBorder;
  }

  button {
    font-family: $fontMono;
    background-color: $ltThemeBtnBG;
    color: $ltThemeBtnTxt;
    border: 2px outset $ltThemeBtnBorder;
    box-shadow: $boxShadowDefault;
    border-radius: 8px;
    padding: 0.5em 1em;
    font-size: 0.85em;
    font-weight: 700;
    text-align: center;
    align-self: center;
  }

  label {
    font-size: 14px;
  }

  button {
    cursor: pointer;
  }

  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input[type="number"] {
    width: 4em;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
  }

  //* SHAPE-SELECT
  .shapeSelectPnl {
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    justify-content: space-between;
    min-width: 125px;
    z-index: 1000;

    .rectangleBtn,
    .circleBtn {
      &:hover {
        animation: btnPulse 1s infinite;
      }
    }

    //* RECTANGLE-BTN
    .rectangleBtn {
      width: 30px;
      height: 30px;
      box-shadow: $boxShadowDefault;
      border: 1px solid $ltThemeBtnBorder;
      cursor: pointer;
      background: 
        /* top */ linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0) 20%
        ),
        /* right */
          linear-gradient(to left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 20%),
        /* bottom */
          linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 20%),
        /* left */
          linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 20%),
        /* background */ $rectangleShapeGrd;

      &.selected {
        background: 
          /* top */ linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0) 20%
          ),
          /* right */
            linear-gradient(
              to left,
              rgba(0, 0, 0, 0.2) 0%,
              rgba(0, 0, 0, 0) 20%
            ),
          /* bottom */
            linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 20%),
          /* left */
            linear-gradient(
              to right,
              rgba(0, 0, 0, 0.2) 0%,
              rgba(0, 0, 0, 0) 20%
            ),
          $rectangleShapeSelectedGrd;
      }
    }

    //* CIRCLE BTN
    .circleBtn {
      width: 30px;
      height: 30px;
      border: 1px solid $ltThemeBorder;
      box-shadow: $boxShadowDefault;
      border-radius: $borderRadiusCircle;
      background: $circleShapeGrd;
      cursor: pointer;

      &.selected {
        background: $circleShapeSelectedGrd;
      }
    }
  }

  //* NUMERICAL-INPUT
  .numericalInputContainer {
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: left;
    align-items: flex-end;

    //*  WIDTH & HEIGHT
    .dimensionsControlPnl {
      display: flex;
      width: 100%;
      justify-content: center;
      align-self: flex-end;

      form {
        display: flex;
        gap: 10px;

        label {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
      .widthContainer {
        display: flex;
      }
      .heightContainer {
        display: flex;
      }
    }

    //*  ROTATION
    .rotationControlPnl {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .rotationLbl {
        margin-bottom: 5px;
      }

      .rotationControls {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      input[type="number"] {
        width: 2.5em;
      }

      button {
        font-size: 12px;
        margin: 0 10px;
        &:hover {
          transform: scale(1.05);
          transition: transform 0.3s ease;
        }
      }
    }
  }

  //* LIFECYCLE-BTNS
  .lifeCycleBtnsPnl {
    display: flex;
    flex-direction: column;
    align-self: flex-end;

    button {
      width: 7em;
      height: 2em;
      padding: 0;
    }

    .generateBtn {
      margin-bottom: 2px;
      background-color: $allThemeGreen;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: lighten($allThemeGreen, 10%);
      }
    }
    .deleteBtn {
      background-color: $allThemeRed;
      margin-bottom: 0;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: lighten($allThemeRed, 10%);
      }
    }
  }
}

//? DARK-MODE
.mainContainer.dark {
  .siteLogo {
    text-shadow: $dkThemesiteLogoShadow;
  }

  input {
    border: 1px solid $ltThemeBtnBorder;
    background-color: $dkThemeInputBG;
    color: $dkThemeInputTxt;
    border: 1px ridged $dkThemeBorder;
  }

  label {
    color: $dkThemeBtnTxt;
  }

  button {
    background-color: $dkThemeBtnBG;
    color: $dkThemeBtnTxt;
    border: 1px ridged $dkThemeBorder;
  }

  //* LIFECYCLE-BTNS
  .lifeCycleBtnsPnl {
    button {
      color: $dkThemeBtnTxt;
    }
    .generateBtn {
      &:hover {
        background-color: darken($allThemeGreen, 10%);
      }
    }
    .deleteBtn {
      &:hover {
        background-color: darken($allThemeRed, 10%);
      }
    }
  }
}

//? MEDIA-QUERY: TABLET (width = 481px-768px)
@media (min-width: $minWidthTablet) and (max-width: $maxWidthTablet) {
  .controlPanelContainer {
    .siteLogoContainer {
      top: 5px;
      .siteLogo {
        font-size: 22px;
      }
    }
    margin: 0 auto;
    justify-content: flex-end;
    flex-direction: column;
    gap: 7px;
    padding: 0;
    height: 20vh;

    //* SHAPE-SELECT
    .shapeSelectPnl {
      align-items: center;
      transform: translateY(10px);
      justify-content: space-between;
      align-self: center;
      order: 1;
      width: 75vw;
      .rectangleBtn,
      .circleBtn {
        transform: scale(0.9);
      }
    }

    //* NUMERICAL-INPUT (W, H, & R)
    .numericalInputContainer {
      align-items: center;
      justify-content: center;
      align-self: center;
      order: 2;
      display: flex;
      flex-direction: row;
      width: 90vw;
      label {
        font-size: 12px;
      }

      //*  W & H
      .dimensionsControlPnl {
        input {
          width: 35px;
        }
        //* R
        .rotationControlPnl {
          font-size: 10px;
        }
        form {
          display: flex;
          gap: 28px;

          label {
            align-items: unset;
            justify-content: space-between;
          }
        }
      }
    }

    //* LIFECYCLE-BTNS
    .lifeCycleBtnsPnl {
      width: 80%;
      align-items: center;
      justify-content: space-around;
      align-self: center;
      flex-direction: row;
      order: 4;
    }
  }
}

//? MEDIA-QUERY: MEDIUM-MOBILE (width = 351px-480px)
@media (min-width: $minWidthMobileMed) and (max-width: $maxWidthMobileMed) {
  //* CONTROL-PANEL
  .controlPanelContainer {
    flex: 4;
    .siteLogoContainer {
      top: 5px;
      .siteLogo {
        font-size: 16px;
      }
    }

    margin: 0 auto;
    justify-content: flex-end;
    flex-direction: column;
    gap: 7px;
    padding: 0;
    height: 20vh;

    //* SHAPE-SELECT
    .shapeSelectPnl {
      align-items: center;
      justify-content: space-between;
      align-self: center;
      order: 1;
      width: 75vw;

      .rectangleBtn,
      .circleBtn {
        transform: scale(0.75);
      }
    }

    //* NUMERICAL-INPUT (W, H, & R)
    .numericalInputContainer {
      align-items: center;
      justify-content: center;
      align-self: center;
      order: 2;
      display: flex;
      flex-direction: row;
      width: 90vw;
      label {
        font-size: 12px;
      }

      //*  W & H
      .dimensionsControlPnl {
        input {
          width: 35px;
        }
        //* R
        .rotationControlPnl {
          font-size: 10px;
        }
        form {
          display: flex;
          gap: 28px;

          label {
            align-items: unset;
            justify-content: space-between;
          }
        }
      }
    }

    //* LIFECYCLE-BTNS
    .lifeCycleBtnsPnl {
      width: 80%;
      align-items: center;
      justify-content: space-around;
      align-self: center;
      flex-direction: row;
      order: 4;
    }
  }
}

//? MEDIA-QUERY: SMALL-MOBILE (width < 350px)
@media (max-width: $maxWidthMobileSmall) {
  .controlPanelContainer {
    flex: 2;
    .siteLogo {
      font-size: 10px;
    }
    .siteLogoContainer {
      top: 0;
      .siteLogo {
        font-size: 18px;
      }
    }

    margin: 0 auto;
    justify-content: flex-end;
    flex-direction: column;
    gap: 7px;
    padding: 0;
    height: 20vh;

    //* SHAPE-SELECT
    .shapeSelectPnl {
      align-items: center;
      justify-content: space-between;
      align-self: center;
      order: 1;
      width: 95vw;

      .rectangleBtn,
      .circleBtn {
        transform: scale(0.5);
      }
    }

    //* NUMERICAL-INPUT (W, H, & R)
    .numericalInputContainer {
      align-items: center;
      justify-content: center;
      align-self: center;
      order: 2;
      display: flex;
      flex-direction: row;
      width: 90vw;
      label {
        font-size: 12px;
      }

      //*  W & H
      .dimensionsControlPnl {
        input {
          width: 35px;
        }
        //* R
        .rotationControlPnl {
          font-size: 10px;
        }
        form {
          display: flex;
          gap: 28px;

          label {
            align-items: unset;
            justify-content: space-between;
          }
        }
      }
    }

    //* LIFECYCLE-BTNS
    .lifeCycleBtnsPnl {
      width: 80%;
      align-items: center;
      justify-content: space-around;
      align-self: center;
      flex-direction: row;
      order: 4;
    }
  }
}
