.control-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;

  form {
    display: flex;
    gap: 10px;

    select,
    button {
      margin: 0 5px;
      height: 2em; // Adjust the height to be closer to the height of the text
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
    }

    label {
      display: flex;
      flex-direction: column;
      align-items: center; // Center label text over input
      justify-content: center;
      margin: 0 5px;

      input[type="number"] {
        width: 4em; // You may adjust this width as necessary
        padding: 5px;
        margin-top: 5px; // Space between label and input
      }
    }

    button {
      padding: 5px 20px; // Adjust padding to reduce height
      cursor: pointer;
    }
  }
}
