@import "./components/styles/variables";

.mainContainer {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  &.light {
    background-color: $ltThemeBG;
  }

  &.dark {
    background-color: $dkThemeBG;
  }

  @media (max-width: $maxWidthTablet) {
  }

  @media (max-width: $maxWidthMobileMed) {
  }
}

.mainContainer.dark {
  
}