@import "./components/styles/variables";

.mainContainer {
  display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;

  &.light {
    background-color: $ltColorBackground;
    
  }

  &.dark {
    background-color: $dkColorBackground;
  }

}
